body{
    font-family: 'Poppins', sans-serif;
}
/* header style
------------------- */
.header-container{
    max-width: 100%;
    background-color: #2D25A0;
    margin-bottom: 50px;
    background-size: cover;
    
}
.header-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    color: white;
}
.header-text h1{
    margin-top: 207px;
    margin-left: 120px;
    margin-bottom: 100px;
    font-size: 2em;
}
.header-text span {
    background-color: #E02C6D;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    transition: background-color 3s ease-in;
}
.header-text span:hover{
    background-color: black;
}
.fa-long-arrow-alt-right{
    padding-left: 15px;
}
.banner-image img{
    position: relative;
    width: 556px;
    height: 440px;
    margin-top: 153px ;
    margin-bottom: 70px;
    margin-right: 75px;
    margin-left: 5px;
    transition: transform 3s ease-in-out;
}
.header-container:hover img{
    transform: rotate(360deg);
}
/* top players styles */
main{
    margin-left: 150px;
    margin-right: 150px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.photo-frame{
    width: 200px;
    height: 400px;
    padding: 15px;
    font-weight:400;
    font-size: 12px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 27px;
}
/* .photo-details p{
    text-align: justify;
} */
.photo-frame img{
    width: 100%;
}
/* video content style */

.highlight-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

}
.video-details{
    width: 200px;
    height: 200px;
}
.video{
    width: 100%;
    padding-left: 30px;
}
button{
    background-color: rgb(240, 86, 86);
    font-weight: 700;
    margin-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    color: white;
}

/* footer section */
.logo-image img {
    width: 50%;
    display: block;
    margin-top: 158px;
    margin-left: auto; 
    margin-right: auto;
    
}
.social-links{
    display: flex;
    justify-content: center;
    text-indent: 10px;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: px;
    /* background-color:burlywood;    */
}
.copyright{
    display: flex;
    justify-content: center;
}
/* --------------------
Media quaries
-------------------- */
/* mobile devices
--------------------- */
@media only screen and (max-width:668px) {
    .header-container{
        display: grid;
        grid-template-columns: 100px;
        align-items: center;
    }
    .header-text{
        margin-top: 0px;
        margin-left: 50px;
        font-weight: 100;
    }
    .banner-image img{
        width: 200px;
        height: 100px;
        margin: 0;
    }
    .top-players{
        grid-template-columns: repeat(1, 1fr);

    }
    .highlight-section{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .video{
        width: 100%;
        padding-left: 0px;
        margin-top: 5px;
    }
    .logo-image img{
        display: flex;
        justify-content: center;
        
    }
    .copyright{
        font-size: 7px;
        text-align: center;
        
    }
    
}