body{
    font-family: 'Poppins', sans-serif;
}
/* header style
------------------- */
header {
    background: url(header-background.png);
    width: 1440px;
    height: 677px;
}
.header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.header-text h1{
    margin-top: 207px;
    margin-left: 156px;
    margin-bottom: 190px;
    font-size: 4em;
}
.header-text span {
    background-color: #E02C6D;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}
.fa-long-arrow-alt-right{
    padding-left: 15px;
}
.banner-image img{
    position: relative;
    width: 556px;
    height: 440px;
    padding-top: 153px;
    padding-bottom: 86px;
    padding-right: 140px;
    
}
/* top players styles */
main{
    margin-left: 150px;
    margin-right: 150px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.photo-frame{
    width: 200px;
    height: 400px;
    padding: 15px;
    font-weight:400;
    font-size: 12px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 27px;
}
/* .photo-details p{
    text-align: justify;
} */
.photo-frame img{
    width: 100%;
}

/* footer section */
.logo-image img {
    width: 50%;
    display: block;
    margin-top: 158px;
    margin-left: auto; 
    margin-right: auto;
    
}
.social-links{
    display: flex;
    justify-content: center;
    text-indent: 10px;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: px;
    /* background-color:burlywood;    */
}
.copyright{
    display: flex;
    justify-content: center;
}